<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125950087820-aqa7t3ffjvodo90ms2e7db21mniahmbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125950087820-aqa7t3ffjvodo90ms2e7db21mniahmbj</string>
	<key>API_KEY</key>
	<string>AIzaSyD4UT5MY2hXazfUb4ZA00m7QldAjR5usmo</string>
	<key>GCM_SENDER_ID</key>
	<string>125950087820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcom</string>
	<key>PROJECT_ID</key>
	<string>flutter-lp3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lp3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125950087820:ios:b3e6b21bce23e251f9e1a9</string>
</dict>
</plist>